# App
NEXT_PUBLIC_APP_NAME=Bajriwala Admin Panel
NEXT_PUBLIC_APP_URL=http://localhost:3000

# API
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

# Auth
NEXT_PUBLIC_AUTH_TOKEN_KEY=bq_access_token
NEXT_PUBLIC_AUTH_REFRESH_TOKEN_KEY=bq_refresh_token
